/* Scroll To Up Btn */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: rgb(190, 145, 0);
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  transition: transform 0.3s ease;
  z-index: 50;
}

#scrollToTopBtn:hover {
  transform: translateY(-5px);
}

@keyframes sttIn {
  from {
    /* transform: translateY(-750px); */
    opacity: 0;
  }
  to {
    /* transform: translateY(0px); */
    opacity: 1;
  }
}

@keyframes sttOut {
  from {
    /* transform: translateY(-750px); */
    opacity: 1;
  }
  to {
    /* transform: translateY(0px); */
    opacity: 0;
  }
}

/* Filter Ani */
@keyframes itemIn {
  from {
    /* transform: translateY(5px); */
    opacity: 0.5;
  }
  to {
    /* transform: translateY(0px); */
    opacity: 1;
  }
}
