@import "tailwindcss";

@theme {
  --text-type: 3rem;
  --color-main: #f7a841;
  --breakpoint-art: 50rem;
  --animate-logoIn: logoIn 2s ease-out;
  --animate-formIn: formIn 2s ease-out;
  --animate-footerIn: footerIn 2s ease-out;
  --animate-navbarIn: navbarIn 2s ease-out;
  --animate-articleIn: articleIn 2s ease-out;
  --grid-cols: repeat(auto-fit, minmax(17.68rem, 1fr));

  /* Login Section */
  @keyframes logoIn {
    from {
      transform: translateY(-80px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes formIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes footerIn {
    from {
      transform: translateY(80px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  /* Main Section */
  @keyframes navbarIn {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(0px);
    }
  }

  @keyframes articleIn {
    from {
      transform: translateX(25px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
