/* PopUp Alert */
.popup-f {
  display: none;
  position: fixed;
  z-index: 8000;
  top: 0;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.popup-content-f {
  display: fixed;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(1, 1, 3, 0.5);
  text-align: center;
}

.popup-f .popup-content-f .closePopUpF {
  font-size: 1.5rem;
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    opacity: 0;
  }
  to {
    /* top: 0; */
    opacity: 1;
  }
}
